@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
header {
  position: relative;
  background-image: url("/img/bg/img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: index 1;
}
header .container {
  position: relative;
  z-index: 3;
}
header .container .header-row {
  padding: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .container .header-row .header-logo__left {
  padding: 0 15px;
  font-size: 32px;
  text-transform: uppercase;
}
header .container .header-row .header-logo__left span {
  font-weight: 800;
  color: #656980;
}
header .container .header-row .header-logo__left::after {
  content: "box";
  color: #FFFFFF;
  font-weight: 200;
}
header .container .header-row .nav-menu__right {
  padding: 0 15px;
}
header .container .header-row .nav-menu__right .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .container .header-row .nav-menu__right .menu-list .list__item {
  margin-right: 24px;
}
header .container .header-row .nav-menu__right .menu-list .list__item .item__link {
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}
header .container .header-row .nav-menu__right .menu-list .list__item .item__link:hover {
  border-bottom: 3px solid #BABBC5;
  padding-bottom: 39px;
}
header .container .header-row .nav-menu__right .menu-list .list__item .item__link:active {
  padding-bottom: 39px;
  border-bottom: 3px solid #E71414;
  color: #E71414;
}
header .container .header-row .nav-menu__right .menu-list .list__item:last-child {
  margin-right: 0;
}
header .container .banner {
  width: 1170px;
  margin: auto;
  padding: 120px 0px;
  border-top: 1px solid #BABBC5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
header .container .banner .banner-text {
  color: #FFFFFF;
  margin-bottom: 82px;
}
header .container .banner .banner-text .title {
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
}
header .container .banner .banner-text .subtitle {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 400;
}
header .container .banner .banner-link {
  width: 370px;
  padding: 30px;
  background-color: #FF4343;
  cursor: pointer;
}
header .container .banner .banner-link .findout {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
header .container .banner .banner-link:hover {
  background-color: #E71414;
}
header .container .banner .banner-link:active {
  -webkit-box-shadow: 4px 4px 30px 0px #FF4343;
          box-shadow: 4px 4px 30px 0px #FF4343;
}
header::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252B49;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.block-row__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block-row__1 .block {
  width: 360px;
  border-radius: 18px;
  margin: 0 10px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
}
.block-row__1 .block:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.block-row__1 .block .block-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-row__1 .block .block-photo .b-icon {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.block-row__1 .block .block-photo .b-icon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.block-row__1 .block .block-text {
  text-align: center;
  margin-top: 40px;
}
.block-row__1 .block .block-text .text__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
}
.block-row__1 .block .block-text .text__description {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.block-row__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 65px -15px 0px;
}
.block-row__2 .block {
  width: 360px;
  margin: 0 10px;
  border-radius: 18px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  cursor: pointer;
}
.block-row__2 .block:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.block-row__2 .block .block-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-row__2 .block .block-photo .b-icon {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.block-row__2 .block .block-photo .b-icon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.block-row__2 .block .block-text {
  text-align: center;
  margin-top: 40px;
}
.block-row__2 .block .block-text .text__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
}
.block-row__2 .block .block-text .text__description {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
}

.work > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.work > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.work > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.work > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.work > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.work > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.work > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.work > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}
.work .work-cell .work__link .work__img {
  width: 370px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
.person-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 15px 270px 15px 270px 15px 270px;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 15px;
}
.person-row .person__card .person__avatar .ava {
  -o-object-fit: cover;
     object-fit: cover;
}
.person-row .person__card .person__desc {
  margin-top: 30px;
}
.person-row .person__card .person__desc .name {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
}
.person-row .person__card .person__desc .position {
  margin-top: 6px;
  text-transform: uppercase;
  color: #FF4343;
  font-size: 18px;
  font-weight: 400;
}
.person-row .person__card .person__desc .profile {
  margin-top: 18px;
  font-size: 18px;
  color: #6C7279;
  font-weight: 400;
}
.person-row .person__card .person__socials {
  margin-top: 40px;
}
.person-row .person__card .person__socials .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.person-row .person__card .person__socials .social-list .list__item {
  margin: 5px;
  border: 1px solid #C6CBCD;
  padding: 10px;
  font-size: 24px;
}
.person-row .person__card .person__socials .social-list .list__item .item__link {
  color: #C6CBCD;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.person-row .person__card .person__socials .social-list .list__item .item__link .icon {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.person-row .person__card .person__socials .social-list .list__item .item__link .icon:hover {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  color: #1da1f2;
}

.downdload-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.downdload-row .download-text {
  text-align: center;
  margin-bottom: 50px;
}
.downdload-row .download-text .d-title {
  font-size: 30px;
  font-weight: 500;
}
.downdload-row .download-text .d-desc {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.downdload-row .download-link {
  width: 370px;
  padding: 30px;
  background-color: #FF4343;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
footer .footer-row {
  background-color: #252B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer-row .footer__block {
  width: 370px;
  margin: 40px 15px;
  text-align: center;
  color: #FFFFFF;
}
footer .footer-row .footer__block .title {
  font-size: 18px;
  font-weight: 700;
}
footer .footer-row .footer__block .desc {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}
footer .footer-row .footer__block .f__socials {
  margin-top: 48px;
}
footer .footer-row .footer__block .f__socials .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-row .footer__block .f__socials .social-list .list__item {
  border: 1px solid #C6CBCD;
  margin: 26px;
  padding: 10px;
  font-size: 24px;
}
footer .footer-row .footer__block .f__socials .social-list .list__item .item__link {
  color: #C6CBCD;
}
footer .footer-row .footer__block .f__socials .social-list .list__item .item__link .f__icon {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
footer .footer-row .footer__block .f__socials .social-list .list__item .item__link .f__icon:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #1da1f2;
}
footer .copyright {
  padding: 20px 0;
  background-color: #2C3154;
  text-align: center;
}
footer .copyright .copyright__text {
  color: #656980;
  font-size: 18px;
  font-weight: 400;
}
footer .copyright .copyright__text span {
  color: #FFFFFF;
}

html {
  font-family: "Raleway";
}
html * {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
html section {
  padding: 100px 0;
}
html section .container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}