.downdload-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
.download-text {
    text-align: center;
   margin-bottom: 50px;
    .d-title {
        font-size: $fs30;
        font-weight: $fw5;
}
    .d-desc {
        margin-top: 6px;
        font-size: $fs18;
        font-weight: $fw7;
        text-transform: uppercase;
   }
}
.download-link{
   
    width: 370px;
    padding: 30px;
    background-color: $normalcolor;  
    cursor: pointer;
    color: $white; 
    font-size: $fs24;
    font-weight: $fw9;
    text-transform: uppercase;
  .download{   
    
      span{
     

      }
  }
}

}
