
// fontsize
$fs13: 13px;
$fs18: 18px;
$fs24: 24px;
$fs30: 30px;
$fs36: 36px;
$fs64: 64px;

// fontweight
$fw4:400;
$fw5:500;
$fw7:700;
$fw9:900;
$fw4i:400;


// color:button,hover,active
$normalcolor: #FF4343;
$hovercolor: #E71414;
$activecolor:#FF4343;

