
// fontsize
$fs13: 13px;
$fs18: 18px;
$fs24: 24px;
$fs30: 30px;
$fs36: 36px;
$fs64: 64px;

// fontweight
$fw4:400;
$fw5:500;
$fw7:700;
$fw9:900;
$fw4i:400;


// colors:button,hover,active,links,border
$normalcolor: #FF4343;
$hovercolor: #E71414;
$activecolor:#FF4343;
$white: #FFFFFF;
$logocol:#656980;
$bordercol:#BABBC5;
$black: #000000;
$bgcolor:#252B49;
$bgcolor2:#2C3154;
$iconcol:#C6CBCD;

